# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# This formula works with no-pillars but here are some example configurations.

kubernetes:
  dir:
    binary: /opt/kubernetes
    source: /tmp/kubernetes
  # Just here for testing
  added_in_defaults: defaults_value
  winner: defaults

  kubectl:
    version: 1.18.2
    config: {}
    environ: []
    pkg:
      binary:
        source_hash: 6ea8261b503c6c63d616878837dc70b758d4a3aeb9996ade8e83b51aedac9698
      source:
        source_hash: f13e2706e173ceed635b3be60bf929c400ed31165bd0ad16ff0dd103821494ec
  minikube:
    version: 1.2.0
    pkg:
      binary:
        source_hash: 3121f933bf8d608befb24628a045ce536658738c14618504ba46c92e656ea6b5
  devspace:
    version: 4.13.1
  kudo:
    version: 0.12.0
  kubebuiler:
    version: 2.3.1
    pkg:
      archive:
        source_hash: 'ff496970f209706763f2aba2bdcefc2de8d00085b3b972b5790117b59ea4ed10'
  k3s:
    version: '1.18.4+k3s1'
    pkg:
      use_upstream_binary: true
      use_upstream_script: false
      binary:
        uri: 'https://github.com/rancher/k3s/releases/download'
        source_hash: 0c19d64dde77c8bb3af1dfbac5aecea59ab4679d97dcfaa62419aaa795380490
      script:
        source_hash: b2856cee3432cf0148513b644b5369db8fa8b039793959f410aa7dfdb496b2b9
        env:
          INSTALL_K3S_BIN_DIR: /usr/local/bin
          INSTALL_K3S_BIN_DIR_READ_ONLY: false
          INSTALL_K3S_CHANNEL_URL: 'https://update.k3s.io/v1-release/channels'
          INSTALL_K3S_CHANNEL: stable
          INSTALL_K3S_EXEC: ''
          INSTALL_K3S_NAME: ''
          INSTALL_K3S_SKIP_DOWNLOAD: false
          INSTALL_K3S_SYMLINK: skip
          INSTALL_K3S_SKIP_ENABLE: false
          INSTALL_K3S_SKIP_START: false
          INSTALL_K3S_SYSTEMD_DIR: /etc/system/systemd
          INSTALL_K3S_TYPE: ''
          INSTALL_K3S_VERSION: ''
          K3S_AGENT_TOKEN: ''
          K3S_AGENT_TOKEN_FILE: ''
          K3S_CLUSTER_INIT: ''
          K3S_CLUSTER_RESET: ''
          K3S_CLUSTER_SECRET: ''
          K3S_DATASTORE_ENDPOINT: ''
          K3S_DATASTORE_CAFILE: ''
          K3S_DATASTORE_CERTFILE: ''
          K3S_DATASTORE_KEYFILE: ''
          K3S_KUBECONFIG_MODE: ''
          K3S_NODE_NAME: ''
          K3S_RESOLV_CONF: ''
          K3S_TOKEN: ''
          K3S_TOKEN_FILE: ''
          KUBECONFIG: /etc/rancher/k3s/k3s.yaml

  linux:
    altpriority: 1000
