# -*- coding: utf-8 -*-
# vim: ft=yaml
---
kubernetes:
  formula: kubernetes
  supported:
    - kubectl
    - minikube
    - devspace
    - k3s
  identity:
    rootuser: root
    rootgroup: root
  arch: ''
  dir:
    binary: /usr/local
    tmp: /tmp/kubernetes-tmp

  kubectl:
    version: 1.18.2
    config_file: /etc/default/kubectl.ini
    config: {}
    environ_file: /etc/default/kubectl.sh
    environ: []
    service: {}
    pkg:
      name: kubectl
      use_upstream_repo: false
      use_upstream_binary: true
      deps:
        - curl
      repo:
        humanname: kubernetes
        name: kubernetes
        comments:
          - installed by salt
        enabled: 1
        gpgcheck: 1
      binary:
        uri: https://storage.googleapis.com/kubernetes-release/release
        name: kubectl
        source: null   # set in map.jinja
        source_hash: 6ea8261b503c6c63d616878837dc70b758d4a3aeb9996ade8e83b51aedac9698
        trim_output: true

  minikube:
    version: 1.9.2
    config_file: /etc/default/minikube.ini
    config: {}
    environ_file: /etc/default/minikube.sh
    environ: []
    service: {}
    check: egrep --color 'vmx|svm' /proc/cpuinfo
    vm_driver: none
    pkg:
      name: minikube
      use_upstream_repo: false
      use_upstream_binary: true
      deps:
        - curl
      repo:
        humanname: kubernetes
        name: kubernetes
        comments:
          - installed by salt
        enabled: 1
        gpgcheck: 1
      binary:
        name: minikube
        uri: https://github.com/kubernetes/minikube/releases/download
        source: null       # see map.jinja
        source_hash: 3121f933bf8d608befb24628a045ce536658738c14618504ba46c92e656ea6b5
        trim_output: true

  devspace:
    version: 4.13.1
    config_file: /etc/default/devspace.ini
    config: {}
    environ_file: /etc/default/devspace.sh
    environ: []
    service: {}
    pkg:
      name: devspace
      use_upstream_repo: false
      use_upstream_binary: true
      deps:
        - curl
      binary:
        uri: https://github.com/devspace-cloud/devspace/releases/download
        name: devspace
        source: null   # set in map.jinja
        source_hash: 19faec36f190d0c3a3447f47c05378fabbe9f01e27f8b7475d51796e288bdbd4
        trim_output: true

  k3s:
    version: '1.18.4+k3s1'
    pkg:
      use_upstream_binary: false
      use_upstream_script: true
      deps:
        - curl
      binary:
        uri: https://github.com/rancher/k3s/releases/download
        name: k3s
        source: null   # set in map.jinja
        source_hash: 0c19d64dde77c8bb3af1dfbac5aecea59ab4679d97dcfaa62419aaa795380490
      script:
        source: https://get.k3s.io
        source_hash: b2856cee3432cf0148513b644b5369db8fa8b039793959f410aa7dfdb496b2b9
        killall: /usr/local/bin/k3s-killall.sh
        uninstall: /usr/local/bin/k3s-uninstall.sh
        env:
          INSTALL_K3S_BIN_DIR: /usr/local/bin
          # INSTALL_K3S_BIN_DIR_READ_ONLY: false
          # INSTALL_K3S_CHANNEL_URL: https://update.k3s.io/v1-release/channels
          # INSTALL_K3S_CHANNEL: stable
          # INSTALL_K3S_EXEC: ''
          # INSTALL_K3S_NAME: ''
          # INSTALL_K3S_SKIP_DOWNLOAD: false
          # INSTALL_K3S_SYMLINK: skip
          # INSTALL_K3S_SKIP_ENABLE: false
          # INSTALL_K3S_SKIP_START: false
          # INSTALL_K3S_SYSTEMD_DIR: /etc/system/systemd
          # INSTALL_K3S_TYPE: ''
          # INSTALL_K3S_VERSION: ''
          # K3S_AGENT_TOKEN: ''
          # K3S_AGENT_TOKEN_FILE: ''
          # K3S_CLUSTER_INIT: ''
          # K3S_CLUSTER_RESET: ''
          # K3S_CLUSTER_SECRET: ''
          # K3S_DATASTORE_ENDPOINT: ''
          # K3S_DATASTORE_CAFILE: ''
          # K3S_DATASTORE_CERTFILE: ''
          # K3S_DATASTORE_KEYFILE:''
          # K3S_KUBECONFIG_MODE: ''
          # K3S_NODE_NAME: ''
          # K3S_RESOLV_CONF: ''
          # K3S_TOKEN: ''
          # K3S_TOKEN_FILE: ''
          # KUBECONFIG: /etc/rancher/k3s/k3s.yaml

  linux:
    altpriority: 0

  retry_option:
    # https://docs.saltstack.com/en/latest/ref/states/requisites.html#retrying-states
    attempts: 3
    until: true
    interval: 60
    splay: 10

  # Just here for testing
  added_in_defaults: defaults_value
  winner: defaults
